@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

@layer utilities {
  .content-container {
    @apply w-11/12 max-w-[86rem] mx-auto;
  }
}

@layer components {
  .text-title {
    @apply text-[4rem] md:text-[6.2rem]  font-serif leading-[0.75];
  }

  .text-subtitle {
    @apply text-[2.4rem] md:text-[4rem] font-serif leading-[0.75];
  }

  .text-lead {
    @apply text-[1.8rem] font-medium font-sans;
  }

  .text-card-title {
    @apply text-[1.8rem] font-bold font-sans;
  }

  .text-paragraph {
    @apply text-[1.6rem] font-regular font-sans leading-normal;
  }

  .text-highlight {
    @apply text-[1.6rem] font-sans font-medium;
  }
}

/* Random */

@media screen and (min-width: 560px) {
  .specials-mobile {
    display: none;
  }
}
